html
    head
        title Provider Relationships Api Stub
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    body


    div(class="container")
        
        div(class="jumbotron")
            h1(class="display-4") Provider Relationships Api Stub
            p(class="lead") This is stub web api for Provider Relationship data
            hr(class="my-4")
            p(class="lead") Provider Relationships does not expose any web api endpoints like this, but the stubbed implementation in Commitments uses this to prevent cluttering the codebase with stubbed data.
        
